<div class="main admin-header" ng-controller="AdminHeaderCtrl">
    <div class="row range-control">
        <div class="col-md-5">
            <div class='logo'>
                <a class="navbar-brand" href="#/manager/">
                    <i class="fa fa-sun-o"></i> vacation control
                </a>
            </div>
        </div>

        <div class="col-md-4">

        </div>
        <div class="col-md-8 col-lg-7 nav-list">
        <span class="nav-text namemanager" ><a href="#/manager/edit/">{{user.email || user.username}}</a></span>
                <span class="nav-text">
                  <a href="#/manager/">ЗАЯВКИ</a>
                </span>
                <span class="nav-text">
                    <a class="list" href="#/manager/vacation">ПОДАТЬ ЗАЯВКУ</a>
                </span>
                <span class="nav-text">
                  <a class="list" href="#/manager/list">СПИСОК</a>
                </span>
                <span class="nav-text">
                  <a href="#/manager/settings">НАСТРОЙКИ</a>
                </span>
                <span class="nav-text exit-button">
                    <a href="" ng-click="logout()" class="exit" id="admin-exit">ВЫЙТИ</a>
                </span>
        </div>

    </div>

    <div ng-hide='loaded'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>

    </div>


</div>