<div class="container">
<div ng-include="'views/manager/header.html'"></div>
    </div>
<div class="container settings">

    <h4>История отпусков:</h4>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Сотрудник</th>
            <th>Период</th>
            <th>Статус</th>
        </tr>
        <tr ng-repeat="vac in vacations|orderBy: 'user'">
            <td>
                   {{(vac.user.first_name && vac.user.last_name) ? vac.user.first_name+' '+vac.user.last_name   : vac.user.email }}
            </td>
            <td>
                {{ vac.date_start }}
                -
                {{ vac.date_end }}
            </td>
            <td>
                {{showState(vac.state)}}
            </td>
        </tr>
    </table>
    <nav>
        <ul class="pager">
            <li><a href="" ng-click="page('prev')" ng-model="prev" ng-show="prev!=''" data-page="{{ prev }}">Предыдущая
                страница</a></li>
            <li><a href="" ng-click="page('next')" ng-model="next" ng-show="next!=''" data-page="{{ next }}">Следущая
                страница</a></li>
        </ul>
    </nav>
</div>