.wrap {
  padding: 70px 0;
  font-size: 62px;
  color: #fff;
  width: 400px;
  margin: 0 auto;
  text-align: center; }

input {
  font-weight: 300;
  color: #fff;
  border: 0;
  border-bottom: 1px solid rgba(29, 38, 95, 0.75);
  width: 100%;
  background-color: #303F9F;
  height: 36px;
  font-size: 26px; }

input:focus {
  outline: none;
  box-shadow: none; }

button {
  border: 0;
  background: transparent;
  padding: 5px;
  margin-top: 50px;
  position: relative; }

button:hover {
  color: rgba(29, 38, 95, 0.75); }

.buttonafter:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 100%;
  /*should be set to 100% */
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #009688;
  /*border color should be same as div div background color*/
  border-style: solid;
  border-width: 5px; }

.forgot {
  background: #a0a0a0;
  color: #fff;
  float: left; }

.login {
  background: #a0a0a0;
  color: #fff;
  float: right; }

.social {
  font-size: 10pt; }

.social-links i {
  font-size: 16pt;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  -webkit-transition: color 1s;
  /* Safari */
  transition: color 1s;
  cursor: pointer;
  color: rgba(29, 38, 95, 0.75); }

.social-links i:hover {
  color: #fff; }

div.error {
  font-size: 10pt;
  color: #fff;
  opacity: 0.7;
  background-color: #FF5722; }

p.sign_up {
  font-size: 10pt; }

p.sign_up a {
  color: #fff; }

.alert-success {
  background-color: #4caf50; }

.alert {
  font-size: 12pt; }

body {
  background-color: #303F9F;
  font-family: 'Roboto', sans-serif; }

div.range-control {
  margin-bottom: 10px;
  color: #fff; }

.error {
  border: 1px solid #FF5722 !important;
  padding: 7px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important; }

.exit-button {
  float: right; }

.position {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.exit-button:hover {
  border: 0px !important; }

div.range-control a {
  color: #fff; }

a.navbar-brand {
  font-size: 22pt; }

.fa-sun-o {
  color: #FFC107; }

.fashion-bg {
  position: absolute;
  background-color: #3F51B5;
  min-width: 100%;
  min-height: 70px;
  z-index: -999; }

.main {
  font-size: 10pt; }

.main a {
  color: #536DFE;
  font-family: 'Roboto', sans-serif;
  text-decoration: none; }

.year-control {
  margin-top: 5px; }

.month-control {
  border-bottom: 3px solid #009688; }

.year-fix {
  font-size: 18pt; }

.sort-calendar {
  background-color: #fff;
  font-stretch: condensed;
  font-weight: 200;
  border: 4px solid #B2DFDB;
  border-bottom: none;
  padding: 5px;
  text-align: center;
  font-size: 12pt; }

.settings {
  background-color: #fff;
  font-stretch: condensed;
  font-weight: 200;
  border: 4px solid #B2DFDB;
  padding: 5px;
  font-size: 12pt;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(29, 38, 95, 0.75);
  -moz-box-shadow: 0px 4px 0px 0px rgba(29, 38, 95, 0.75);
  box-shadow: 0px 4px 0px 0px rgba(29, 38, 95, 0.75); }

.date-pick i {
  transition: color 2s; }

.date-pick i:hover {
  color: #009688;
  margin-bottom: 5px; }

.table-calendar a {
  font-size: 10pt;
  text-decoration: none; }

.table-calendar {
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  border: 2px solid #e1e1e1;
  border-top: none; }

.nav-list {
  margin-top: 20px; }

.nav-text {
  font-size: 12pt;
  transition: border 1s;
  padding-right: 13px;
  padding-left: 11px;
  padding-bottom: 5px;
  margin-left: -13px; }

.nav-text:hover {
  border-bottom: 3px solid #303F9F; }

.date-pick {
  font-size: 14pt;
  padding: 0; }

footer {
  color: #fff;
  background-color: rgba(29, 38, 95, 0.75); }

footer a {
  color: #fff; }

footer a:hover {
  color: #fff;
  text-decoration: none; }

div.link_back {
  background-color: #536DFE;
  opacity: 0.7;
  display: inline-block;
  padding: 5px;
  width: 100px;
  text-align: center;
  margin: 10px 0 0 10px;
  color: #fff; }

div.link_back a {
  font-size: 10pt;
  color: #fff; }

.new-mail {
  width: 85%;
  margin: 0 auto;
  padding: 15px; }

.settings-input {
  background-color: #fff;
  margin-bottom: 5px; }

span i.fa-times {
  color: tomato; }

.disable_tr {
  background-color: #e7e7e7; }

.comment-div {
  padding: 5px;
  background-color: #e1e1e8;
  margin-bottom: 10px;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.tooltip-inner {
  background-color: #536DFE; }

.tooltip.right .tooltip-arrow {
  border-right-color: #536DFE; }

.tooltip {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

.uservacation {
  margin-left: -90px; }

/*# sourceMappingURL=main.css.map */
