@import "sc_colors";

.wrap{
  padding:70px 0;
  font-size:62px;
  color:#fff;
  width:400px;
  margin:0 auto;
  text-align:center;
}

input{
  font-weight:300;
  color: #fff;
  border:0;
  border-bottom:1px solid rgba(29, 38, 95, 0.75);
  width:100%;
  background-color: #303F9F;
  height:36px;
  font-size:26px;
}

input:focus{
  outline:none;
  box-shadow:none;
}

button{
  border:0;
  background:transparent;
  padding:5px;
  margin-top:50px;
  position:relative;
}

button:hover{
  color: rgba(29, 38, 95, 0.75);
}

.buttonafter:after{
  content:'';
  display:block;
  position:absolute;
  top:8px;
  left:100%; /*should be set to 100% */
  width:0;
  height:0;
  border-color: transparent transparent transparent #009688; /*border color should be same as div div background color*/
  border-style: solid;
  border-width: 5px;

}

.forgot{
  background:#a0a0a0;
  color:#fff;
  float:left;
}

.login{
  background:#a0a0a0;
  color:#fff;
  float:right;
}

.social {
  font-size: 10pt;
}

.social-links i {
  font-size: 16pt;
  margin-right: 10px;
  margin-left: 10px;
  margin-top:  5px;
  -webkit-transition: color 1s; /* Safari */
  transition: color 1s;
  cursor: pointer;
  color: rgba(29, 38, 95, 0.75);
}

.social-links i:hover {
  color: #fff;
}


#username{

}

div.error {
  font-size: 10pt;
  color: #fff;
  opacity: 0.7;
  background-color: #FF5722;
}

p.sign_up {
  font-size: 10pt;
}

p.sign_up a {
  color: #fff;

}
.alert-success {
  background-color: #4caf50;
}
.alert{
  font-size: 12pt;
}
