@media(max-width: 992px){
    .month {
        font-size: 12px !important;
        margin-left: 2px !important;
        width: 8% !important;
    }
}
@media (min-width: 992px) and (max-width: 1180px) {
    .month{
        font-size:14px !important;
        margin-left: 11px !important;
    }
    .nav-list{
        margin-left: 40% !important;
        margin-top: -34px !important;
    }
    .exit{
        margin-left: -126px !important;
    }
}
@media (min-width: 1180px) {
    .month{
        font-size:14px !important;
        margin-left: 12px !important;
    }
}
@media (max-width: 767px) {
    .month {
        font-size: 12px !important;
        margin-left: 7px !important;
        width: 15% !important;
        margin-top: 4px !important;
        margin-bottom: 0px !important;
    }

    .nav-text{
        margin-left: 19px;
    }
    .month-hider{
        margin-top:5px !important;
        margin-top: 4px !important;
        margin-bottom: 5px !important;
    }
.exit{
    margin-right: -40px;
}
}

@media only screen and (max-width: 480px) {
    .month{
        display:none !important;



    }
}
.table-calendar {
    font-size: 9pt;
    background: #fff;
}

.vac-stats {
    list-style-type: none;
    margin-top: 2%;
    font-size: 8pt;
    color: #101010;
}

div.auxLine {
    position: absolute;
    right: -5%;
    top: 171px;
}

thead {
    background-color: #e3f2fd;
    border-top: 3px solid #a8a8a8;
}

div.month-control {
    font-size: 16pt;
}



tr.control-row {
    font-weight: bold;
}



td.rangeEmpty {
    background-color: #fff;
}


td.table-header {
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    height: 37px;
    max-height: 57px;
}

td.table-header:first-of-type {
    width: 10%;
}

td.table-header:hover {
    background-color: rgba(0,0,0,0.1);
}

i {
    cursor: pointer;
}


.start {
    background-image: url('../img/plane.png');
    background-repeat: no-repeat;
    background-position: center;

}

.end {
    background-image: url('../img/worker.png');
    background-repeat: no-repeat;
    background-position: center;

}

.vac-parameter {
    -webkit-transition:text-shadow 0.5s; /* Safari */
    transition: color 0.5s;
    font-size: 14px;
}

.vac-parameter:hover {
    color: #009688;
}

.week-day {
    font-size: 7pt;
    color: #a8a8a8;
    display: block;
}

.week-end {
    color: #fc8c84;

}


i.tooltips {
    position: relative;
    display: inline;
}
i.tooltips span {
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #000000;
    height: 60px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}
i.tooltips span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid #000000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
i:hover.tooltips span {
    visibility: visible;
    opacity: 0.6;
    left: 100%;
    top: 50%;
    margin-top: -15px;
    margin-left: 15px;
    z-index: 999;
}

.tooltips{
    z-index: 1;
}
.exit{
    background-color: #0C2171;
    padding: 5px 15px 5px 15px;
    color: #FFF;
    margin-left: -61px;
    font-size: 12pt;
}
.nav-text.exit-button:hover {
    border:0px!important;
}
.nav-list{
    margin-left: 16%;
}
.month-option{
    padding-right: 10px;
}
.list{
    margin-left: 17px;
}
.calendar{
    background-color: white;
}
.chart {
    shape-rendering: crispEdges;
}

.mini text {
    font: 9px sans-serif;   
}

.main text {
    font: 12px sans-serif;  
}

.month text {
    text-anchor: start;
}

.todayLine {
    stroke: blue;
    stroke-width: 1.5;
}

.axis line, .axis path {
    stroke: black;
}

.miniItem {
    stroke-width: 6;    
}

.future {
    stroke: gray;
    fill: #ddd;
}

.past {
    stroke: green;
    fill: lightgreen;
}

.brush .extent {
    stroke: gray;
    fill: blue;
    fill-opacity: .165;
}
.chart{
    padding-top: 15px;
    height: 800px;
}
