.page-header {
    padding: 0;
    margin-top: 0;
}
div.jumbotron {
    padding: 10px;
    min-height: 580px;
}
.nav-list {
     margin-left: 25%;
}
.profile {
    padding: 10px;
    height: 150px;
    background-color: rgba(0,0,0,0.1);
    border-top: 3px solid rgba(165,165,165, 0.6);
    -webkit-box-shadow: 0px 4px 3px 0px rgba(29, 38, 95, 0.2);
    -moz-box-shadow:    0px 4px 3px 0px rgba(29, 38, 95, 0.2);
    box-shadow:         0px 4px 3px 0px rgba(29, 38, 95, 0.2);
}
.user_av {
    width: 80px;
    height: auto;

}
.user_av:hover {
    height: auto;
}
.user_control {
    margin-top: 5px;
}
.btn-vac {
padding-top: 12px;
    width: 100%;
}
.btn-img {
    width: 28px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 3px;
}
.history {
    margin-top: 25px;
}
.close {
    margin-right: 10px;
    margin-top: 10px;
}
.container-vac {
} 

.new-vacation-div {
    margin-bottom: 10px;
    border-top: 3px solid rgba(165,165,165, 0.6);
    color: #000;
}
.datepicker-input {
    background-color: #fff;
    padding-left: 5px;
}
.view {
    border-top: 3px solid rgba(165,165,165, 0.6);
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    margin-top: 15px;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(29, 38, 95, 0.2);
    -moz-box-shadow:    0px 4px 3px 0px rgba(29, 38, 95, 0.2);
    box-shadow:         0px 4px 3px 0px rgba(29, 38, 95, 0.2);
}
.exit{
    width: 75px;
    background-color:#0C2171;
    display: block;
    margin-top: 2px;
    margin-left: 266px;
    font-size: 15px;
    padding: 1px 15px 3px 13px!important;
}
.welcom{
    background-color: gainsboro;
    padding: 5px 10px 28px 35px;
    margin-top: 25px;

}
.container-vac{
    margin-top: 15px;
}
.newexit{
     margin-top: -26px;
   width: 75px;
    background-color:#0C2171;
    display: block;
  
    margin-left: 266px;
    font-size: 15px;
    padding-left: 13px;
    padding-right: 16px;  
}
.history{
    background-color: gainsboro;
}