doctype html
html
    head
        title
        link(href='../css/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='../css/fashion.css')

    body
        block content