extends layout

block content
    h1 Login
    form(method='post', action='/login')
        p
            input(type='text', name='username', placeholder='login')
        p
            input(type='password', name='password', placeholder='password')
        p
            input(value='Log In', type='submit')