extends layout

block content
    h1 Login
    p= message
    form(method='post', action='/login')
        p
            input(type='text', name='email', placeholder='login')
        p
            input(type='password', name='password', placeholder='password')
        p
            button(type='submit') Sign In

    a(href='/auth/google') Sign In with Google