extends layout

block content
    link(rel='stylesheet', href='../css/login-form.css')

    .wrap
        | Войти
        form(method='post', action='/auth/login')
            div.error.text-warning= message
            input#username(type='email', placeholder='Email...', name='email')
            input#password(type='password', placeholder='******', name='password')

            .text-center.social
                p.sign_up
                    a(href='/auth/signup') Регистрация
                | Авторизоваться через социальные сети
                .social-links
                    a(href='/auth/vkontakte')
                        i.fa.fa-vk(title='vk')

                    a(href='/auth/github')
                        i.fa.fa-github(title='GitHub')

                button.btn.btn-lg(type='submit')
                    i.fa.fa-sign-in Войти

