extends layout
block content
    link(rel='stylesheet', href='../css/login-form.css')

    div.link_back
        a(href='../')
            i.fa.fa-long-arrow-left   Назад
    .wrap
        | Регистрация
        form(method='post', action='/auth/signup')
            div.error.text-warning= message
            input#nameuser(type='text', placeholder='Имя...', name='nameuser')

            input#surname(type='text', placeholder='Фамилия...', name='surname')

            input#surname(type='text', placeholder='Name, Surname...', name='name_surname')
            div.alert.alert-success= 'Example: Анатолий Пихидчук'
            input#usename(type='email', placeholder='Email...', name='email')
            input#password(type='password', placeholder='******', name='password')

            button.btn.btn-lg(type='submit')
                i.fa.fa-user-plus Зарегистрироваться
