.table-calendar {
    font-size: 9pt;
    background: #fff;
}

.vac-stats {
    list-style-type: none;
    margin-top: 2%;
    font-size: 8pt;
    color: #101010;
}

div.auxLine {
    position: absolute;
    right: -5%;
    top: 171px;
}

thead {
    background-color: #e3f2fd;
    border-top: 3px solid #a8a8a8;
}

div.month-control {
    font-size: 16pt;
}



tr.control-row {
    font-weight: bold;
}



td.rangeEmpty {
    background-color: #fff;
}


td.table-header {
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    height: 37px;
    max-height: 57px;
}

td.table-header:first-of-type {
    width: 10%;
}

td.table-header:hover {
    background-color: rgba(0,0,0,0.1);
}

td.rangeActive {
    background-color: rgba(75,75,75,0.4);
    cursor:pointer;
    border-right: none;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}

td.rangeActive:hover {
    background-color: rgba(76,76,76,0.5);
}

.rangeAccepted {
    background-color: #009688;
    cursor:pointer;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}

.rangeAccepted:hover {
    background-color: #00796B;
}

td.rangeRefused {
    background-color: #D32F2F;
    cursor:pointer;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    border-right: none;
}

td.rangeRefused:hover {
    background-color: #b71c1c;
}

i {
    cursor: pointer;
}


.start {
    background-image: url('../img/plane.png');
    background-repeat: no-repeat;
    background-position: center;

}

.end {
    background-image: url('../img/worker.png');
    background-repeat: no-repeat;
    background-position: center;

}

.vac-parameter {
    -webkit-transition:text-shadow 0.5s; /* Safari */
    transition: color 0.5s;
    font-size: 14px;
}

.vac-parameter:hover {
    color: #009688;
}

.week-day {
    font-size: 7pt;
    color: #a8a8a8;
    display: block;
}

.week-end {
    color: #fc8c84;

}


i.tooltips {
    position: relative;
    display: inline;
}
i.tooltips span {
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #000000;
    height: 60px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}
i.tooltips span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid #000000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
i:hover.tooltips span {
    visibility: visible;
    opacity: 0.6;
    left: 100%;
    top: 50%;
    margin-top: -15px;
    margin-left: 15px;
    z-index: 999;
}

