/* Default view */
.view{
    position: relative;
    transition: 1000ms;
}

/* First animation*/
.first .view.ng-enter{
    opacity: 0;
}

.first .view.ng-enter.ng-enter-active{
    opacity: 1;
}

.first .view.ng-leave{
    opacity: 0;
    display:none;
}

.first .view.ng-leave.ng-leave-active{
    opacity: 0;
    display:none;
}

