<div class="container settings">

    <h4>История отпусков:</h4>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Сотрудник</th>
            <th>Период</th>
            <th>Статус</th>
        </tr>
        <tr ng-repeat="vac in vacations|orderBy: 'user'">
            <td>
                {{vac.user}}
            </td>
            <td>
                {{::prettyDate(vac.days[0][0], vac.year, vac.month[0])|date:'dd.MM.yyyy'}}
                -
                {{::prettyDate(vac.days[0][vac.days[0].length-1], vac.year, vac.month[0])|date:'dd.MM.yyyy'}}
            </td>
            <td>
                {{showState(vac.acceptionState)}}
            </td>
        </tr>
    </table>

</div>