<h4>{{ vac.user.first_name && vac.user.last_name  ? (vac.user.first_name+' '+vac.user.last_name ) : vac.user.email }} </h4>
<table class="table table-condensed">
    <tr>
        <td><strong>Должность:</strong></td> <td>{{vac.user.rank|rank}}</td>
    </tr>

    <tr>
        <td><strong>Период:</strong><td>
        <div>

            {{ vac.date_start }}
            -
            {{vac.date_end}}

        </div>
    </tr>
    <tr>
        <td>
            <strong>Причина:</strong>
        </td>
        <td>
            {{vac.user_comment}}
        </td>
    </tr>

    <tr>
        <td><strong>Текущий статус:</strong> </td>
        <td>{{showState(vac.state)}}</td>
    </tr>
</table>


<p class="text-center">
    <button ng-if="vac.state != 20 && vac.acceptionState != 21 && vac.state != 31 && vac.state != 30" confirm="{{vac.id}}" manager="1" ng-click="changeState(vac.id, 20, closeThisDialog());" type="button" class="btn btn-success btn-lg active"> Принять </button>
    <button ng-if="vac.state != 20 && vac.acceptionState != 21 && vac.state != 31 && vac.state != 30" refuse="{{vac.id}}" manager="1" ng-click="changeState(vac.id, 21, closeThisDialog());" type="button" class="btn btn-danger btn-lg active"> Отказать</button>
    <button ng-click="closeThisDialog()" type="button" class="btn btn-default btn-lg active"><i class="fa fa-home"></i> Назад</button>
</p>