
<div class="container">

    <div ng-include="'views/admin/header.html'"></div>
</div>
<div class="container settings"  ng-show="current_user.group_code == 3 ">
    <div class="new-mail">
        <h5>Оповещения:</h5>
        <hr/>
        <strong>Новый адрес: </strong>

        <form name="myForm" ng-submit="addNewMail(myForm.$valid)" id="EmailForm" validate-email>
            <input ng-model="subscriber.address" name="email" class="form-control settings-input" type="email"
                   placeholder="Email..." required/>
            <input ng-model="subscriber.name" name="name" class="form-control settings-input" type="text"
                   placeholder="Имя..." required/>
            <button type="submit" class="btn btn-lg btn-success">Добавить</button>
        </form>
        <hr>
        <strong>Текущий список: </strong>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Email</th>
                <th>Имя</th>
                <th style="text-align: center;"><i class="fa fa-check-square"></i></th>
                <th>А</th>
                <th>П</th>
                <th>М</th>
                <th><i class="fa fa-times"></i></th>
            </tr>
            <tr ng-repeat="mail in mailList|orderBy: mail.name" class="admin-email">
                <td ng-class="{disable_tr: !mail.state}">{{mail.address}}</td>
                <td ng-class="{disable_tr: !mail.state}">{{mail.name}}</td>
                <td ng-class="{disable_tr: !mail.state}" style="width: 15px;"><input ng-model="mail.state"
                                                                                     ng-click="changeState(mail.id)"
                                                                                     style="margin-left: 7px;"
                                                                                     type="checkbox"/></td>

                <td ng-class="{disable_tr: !mail.state}" style="width: 15px;"><input ng-model="mail.action_admin"
                                                                                     ng-click="changeAction(mail.id, 'action_admin')"
                                                                                     style="margin-left: 7px;"
                                                                                     type="checkbox"/></td>
                <td ng-class="{disable_tr: !mail.state}" style="width: 15px;"><input ng-model="mail.action_user"
                                                                                     ng-click="changeAction(mail.id, 'action_user')"
                                                                                     style="margin-left: 7px;"
                                                                                     type="checkbox"/></td>
                <td ng-class="{disable_tr: !mail.state}" style="width: 15px;"><input ng-model="mail.action_manager"
                                                                                     ng-click="changeAction(mail.id, 'action_manager')"
                                                                                     style="margin-left: 7px;"
                                                                                     type="checkbox"/></td>

                <td ng-class="{disable_tr: !mail.state}" style="width: 15px;"><span ng-click="deleteMail(mail.id)"><i
                        class="fa fa-times"></i></span></td>
            </tr>
        </table>
        <nav>
            <ul class="pager">
                <li><a href="" ng-click="email_page('prev')" ng-model="email.prev" ng-show="email.prev!=''"
                       data-page="{{ email.prev }}">Предыдущая страница</a></li>
                <li><a href="" ng-click="email_page('next')" ng-model="email.next" ng-show="email.next!=''"
                       data-page="{{ email.next }}">Следущая страница</a></li>
            </ul>
        </nav>
        <p>
            <small>* Чекбокс определяет необходимость учёта адреса при рассылке</small>
        </p>
        <p>
            <small><strong>А</strong> - оповещение о действиях администратора</small>
        </p>
        <p>
            <small><strong>П</strong> - оповещение о действиях пользователя</small>
        </p>
        <p>
            <small><strong>М</strong> - оповещение о действиях менеджера</small>
        </p>

    </div>

    <hr/>

    <div class="new-mail">
        <h5>Пользователи</h5>

        <p>
            <small>Удаление пользователя предусматривает удаление всех его заявок. Будьте осторожны.</small>
        </p>
        <table class="table table-bordered table-striped">
            <tr>
                <th><a href="" ng-click="order('last_name')">Фамилия</a>(<a href=""
                                                                                                              ng-click="predicate = '-common.profile.username'; reverse=false">^</a>)
                </th>
                <th>Email</th>
                <th><i class="fa fa-times"></i></th>
            </tr>

            <tr ng-repeat="user in userList | orderBy:predicate:reverse">
                <td>{{ user.first_name ? (user.first_name) : 'Фамилия не указана' }}
                </td>
                <td>{{user.email}}</td>
                <td><span ng-click="deleteUser(user.id)"><i class="fa fa-times"></i></span></td>
            </tr>
        </table>
        <nav>
            <ul class="pager">
                <li><a href="" ng-click="page('prev')" ng-model="prev" ng-show="prev!=''" data-page="{{ prev }}">Предыдущая
                    страница</a></li>
                <li><a href="" ng-click="page('next')" ng-model="next" ng-show="next!=''" data-page="{{ next }}">Следущая
                    страница</a></li>
            </ul>
        </nav>
    </div>

</div>

