<h4>{{ vac.user.first_name && vac.user.last_name  ? (vac.user.first_name+' '+vac.user.last_name ) : vac.user.email }} </h4>
<table class="table table-condensed">
    <tr>
        <td><strong>Сотрудник:</strong></td> <td>{{ vac.user.first_name && vac.user.last_name  ? (vac.user.first_name+' '+vac.user.last_name ) : vac.user.email }} </td>
    </tr>
    <tr>
        <td><strong>Должность:</strong></td> <td>{{vac.user.rank|rank}}</td>
    </tr>

    <tr>
        <td><strong>Период:</strong><td>

        {{vac.date_start}}
        -
        {{ vac.date_end}}


    </tr>
    <tr>
        <td >
            <strong>Причина:</strong>
        </td>
        <td class="textareacom">
            {{vac.comment_user}}
        </td>
    </tr>

    <tr>
        <td><strong>Текущий статус:</strong> </td>
        <td >{{showState(vac.state)}}</td>
    </tr>

    <tr ng-if="vac.adminComment !== null" class="textcom">
        <td><strong>Комментарий:</strong></td>
        <td class="textareacom">{{vac.comment_admin}}</td>
    </tr>
</table>



<div class="comment-div">
    <strong>
        <span ng-if="vac.adminComment == null">Комментировать</span>
       

        <i ng-click="comment = !comment" ng-class="{'fa-caret-down': !comment, 'fa-caret-up': comment}" class="fa"></i></strong>
    <div ng-show="comment">
        <textarea ng-model="vac.comment_admin" class="form-control comment" style="background-color: #fff;" name="comment" id="comment" placeholder="Комментарий...">{{vac.comment_admin}}</textarea>
        
    </div>
</div>

<p class="text-center">
    <button ng-if="vac.state != 30 && vac.state != 31" confirm="{{vac.id}}" ng-click="changeState(vac.id, 30, closeThisDialog(),vac.comment_admin);" type="button" class="btn btn-success btn-lg active"><i class="fa fa-ship"></i> Принять</button>
    <button ng-if="vac.state != 30 && vac.state != 31" refuse="{{vac.id}}" ng-click="changeState(vac.id, 31, closeThisDialog(),vac.comment_admin);" type="button" class="btn btn-danger btn-lg active"><i class="fa fa-frown-o"></i> Отказать</button>
    <button  ng-click="closeThisDialog()" type="button" class="btn btn-default btn-lg active"><i class="fa fa-home"></i> Назад</button>
</p>