<div class="row month-selector text-center">
    <div ng-repeat="i in showMonth" scroll-on-click target="{{getMonthPosition(i)}}" class="col-lg-10 col-xs-12 col-md-1 month">{{i|monthName}}</div>
</div>

<div class="month-hider">
    <span class="month-option">Показывать с: </span>
    <select class="month-option" ng-model="monthHider.startMonth">
        <option value="1">Январь</option>
        <option value="2">Февраль</option>
        <option value="3">Март</option>
        <option value="4">Апрель</option>
        <option value="5">Май</option>
        <option value="6">Июнь</option>
        <option value="7">Июль</option>
        <option value="8">Август</option>
        <option value="9">Сентябрь</option>
        <option value="10">Октябрь</option>
        <option value="11">Ноябрь</option>
        <option value="12">Декабрь</option>
    </select>
    <span> по: </span>
    <select class="month-option" ng-model="monthHider.endMonth">
        <option value="1">Январь</option>
        <option value="2">Февраль</option>
        <option value="3">Март</option>
        <option value="4">Апрель</option>
        <option value="5">Май</option>
        <option value="6">Июнь</option>
        <option value="7">Июль</option>
        <option value="8">Август</option>
        <option value="9">Сентябрь</option>
        <option value="10">Октябрь</option>
        <option value="11">Ноябрь</option>
        <option value="12">Декабрь</option>
    </select>
</div>

<div class="swipe-calendar row">
    <div class="col-md-2 employees">

        <div class="col-md-12">
            <span class="swipe-calendar-header" style="margin-bottom: 3px;">Сотрудник</span>

            <div ng-repeat="vac in userIds" style="margin-top: 3px; min-height: 22px; font-size:9px; text-align: right;">
                <a title="{{usersList[vac].common.profile}}" ng-click="showUserHistory(usersList[vac].common.id)" href="#">{{usersList[vac].common.profile.username || usersList[vac].common.profile.email}}</a>
            </div>
        </div>
    </div>


    <div scroll-mouth horizontal-scroll start-position="{{baseConfig.month}}" class="swipe-area">
        <div  ng-repeat="i in showMonth" class="month-wrapper" >

                        <div class="scrolls">
                            <strong>{{i|monthName}}</strong>
                            <div class="days-wrapper">
                                <div class="day" ng-repeat="day in baseConfig.daysRange(baseConfig.days('2015', i))">
                      <span class="week-day">
                          {{baseConfig.getDay(day, '2015', i)|dayName}}
                      </span>

                                    {{::day}}
                                </div>
        </div>
        </div>

            <div class="ranges-wrapper">
                <div class="range" ng-repeat="vac in vacationsByUser">
                    <section ng-repeat="curVac in vac[i]">
                        <div ng-if="curVac.month[1] === null"  popovers-range  data-toggle="popover" data-placement="bottom" data-content="test" acception-state="{{curVac.acceptionState}}" data-vac="{{::curVac._id}}" class="range-line tooltips popovers" start-pos="{{curVac.days[0][0]}}" size="{{curVac.days[0].length}}" ng-click="openVacationParameters(curVac)"></div>

                        <div ng-if="curVac.month[1] !== null && curVac.month[0] === i" acception-state="{{curVac.acceptionState}}" data-vac="{{::curVac._id}}" class="range-line tooltips range-line-start" start-pos="{{curVac.days[0][0]}}" size="{{curVac.days[0].length}}" ng-click="openVacationParameters(curVac)"></div>

                        <div ng-if="curVac.month[1] !== null && curVac.month[0] === i-1" acception-state="{{curVac.acceptionState}}" data-vac="{{::curVac._id}}" class="range-line tooltips range-line-end" start-pos="{{curVac.days[1][0]}}" size="{{curVac.days[1].length}}" ng-click="openVacationParameters(curVac)"></div>
                    </section>
                </div>
            </div>

        </div>
        </div>
        </div>


        <div style="clear: both"></div>