<div class="month-selector text-center">
    <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]" scroll-on-click target="{{i}}" class="col-md-1 month">{{i|monthName}}</div>

</div>

<div class="swipe-calendar row">
    <div class="col-md-3 employees">
        <div class="col-md-6">
            <div class="swipe-calendar-header">Сотрудник</div>

            <div ng-repeat="vac in vacations|uniq: 'user_id'">
                <a ng-click="showUserHistory(vac.user_id)" href="#">{{vac.user}}</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="swipe-calendar-header">Должность</div>

            <div ng-repeat="vac in vacations|uniq: 'user_id'">{{vac.rank}}</div>
        </div>
    </div>

    <div class="swipe-area">
        <table class="table table-condensed">
            <tr>
                <td ng-repeat="i in [] | range:1:12">
                    <strong>{{i|monthName}}</strong>

                    <table class="table table-condensed table-calendar">
                        <thead>
                        <tr class="control-row active">
                            <td class="table-header" ng-repeat="day in baseConfig.daysRange(baseConfig.days('2015', i))">
                                <span class="week-day">
                                    {{baseConfig.getDay(day, '2015', i)|dayName}}
                                </span>
                                {{day}}
                            </td>
                        </tr>
                        </thead>

                        <tr ng-repeat="vac in vacationsByUser">

                            <td ng-repeat="day in baseConfig.daysRange(baseConfig.days('2015', i))">
                                <span ng-repeat="curVac in vac">
                                    <span ng-if="curVac.month[0] === i">
                                        <span ng-if="curVac.days[0].indexOf(day) != '-1'">√</span>
                                    </span>

                                    <span ng-if="curVac.month[1] !== null">
                                        <span ng-if="curVac.month[1] === (i)">
                                            <span ng-if="curVac.days[1].indexOf(day) != '-1'">!</span>
                                        </span>
                                    </span>

                                </span>
                            </td>

                        </tr>

                    </table>

                </td>
            </tr>
        </table>


    </div>
</div>