<div class="container" ng-controller="EditProfileController">
    <h4>Ваши данные:</h4>
    <form name="myForm" ng-submit="updateUser()">
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="input" ng-model="newEmail" class="datepicker-input form-control" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Имя</label>
            <input ng-model="newUsername" placeholder="Укажите имя..." type="text" class="datepicker-input form-control" id="exampleInputPassword1">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg">Отправить</button>
        </div>
    </form>
</div>

