
    <h4>История заявок</h4>
    <table class="table table-condensed">
        <tr>
            <td>#</td>
            <td>Период</td>
            <td>Количество дней</td>
            <td>Статус</td>
        </tr>

        <tr>
            <td>1</td>
            <td>20.02-28.02.2015</td>
            <td>12</td>
            <td>Одобрена</td>
        </tr>
        <tr>
            <td>2</td>
            <td>20.02-28.02.2015</td>
            <td>8</td>
            <td>Одобрена</td>
        </tr>
        <tr>
            <td>3</td>
            <td>20.02-28.02.2015</td>
            <td>8</td>
            <td>Отклонена</td>
        </tr>                        <tr>
        <td>1</td>
        <td>20.02-28.02.2015</td>
        <td>12</td>
        <td>Одобрена</td>
    </tr>

    </table>
