<div class="container" ng-controller="UserHistoryController">
    <h4>История отпусков:</h4>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Период</th>
            <th>Статус</th>
        </tr>
        <tr ng-repeat="vac in userHistory">
            <td>
                {{defineRangeFromData(vac.days, vac.month, vac.year)}}
            </td>
            <td>
                {{showState(vac.acceptionState)}}
            </td>
        </tr>
    </table>

</div>