<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/login-form.css"/>
    <link rel="stylesheet" href="../css/fashion.css"/>

</head>
<body>
    <div class='wrap'>
        Войти
        <form>
            <input type='text' id='surname' placeholder='Surname...'>
            <input type='text' id='name' placeholder='Name...'>
            <input type='email' id='username' placeholder='Email...'>
            <input type='password' id='password' placeholder='******'>
        </form>
        <div class="text-center social">
            Авторизоваться через социальные сети:

            <div class="social-links">
                <i title="vk" class="fa fa-vk"></i>
                <i title="Google+" class="fa fa-google-plus"></i>
                <i title="Facebook" class="fa fa-facebook-official"></i>
                <i title="GitHub" class="fa fa-github"></i>
            </div>
        </div>

        <button ng-click="confirm()" type="button" class="btn btn-lg active"><i class="fa fa-sign-in"></i> Войти</button>
    </div>
</body>
</html>