<!DOCTYPE html>
<html ng-app="VacationApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vacation</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="../css/calendar.css" rel="stylesheet">
    <link href="../css/fashion.css" rel="stylesheet">
    <link href="../css/swipe.css" rel="stylesheet">
    <link rel="stylesheet" href="../../bower_components/ngDialog/css/ngDialog-theme-default.min.css"/>
    <link rel="stylesheet" href="../../bower_components/ngDialog/css/ngDialog.min.css"/>
    <link rel="stylesheet" href="../css/route-animations.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class='fashion-bg'></div>

<div class="container" ng-controller="CalendarController">
    <div class="main">
        <div class="row range-control">
            <div class="col-md-4">
                <div class='logo'>
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-sun-o"></i> vacation control
                    </a>
                </div>
            </div>

            <div class="col-md-4">

            </div>
            <div class="col-md-4 nav-list">
                <span class="nav-text">
                  <a href="/">ЗАЯВКИ</a>
                </span>


                <span class="nav-text">
                  <a href="/list">СПИСОК</a>
                </span>

                <span class="nav-text">
                  <a href="/settings">НАСТРОЙКИ</a>
                </span>
                <!--
                <span class="nav-text">
                  <a href="#">РАСПЕЧАТАТЬ</a>
                </span>
                -->

            </div>
        </div>

        <div class="container" ng-class="animation">
            <div ng-view class="view">

            </div>
        </div>

    </div>
</div>


<footer class="footer navbar-fixed-bottom row-fluid">
    <div class="container">
        <div class="col-md-6 text-right">
            <a href="#" onclick="document.location.href='/auth/logout'">Выйти</a>
        </div>
        <div class="col-md-6"></div>

    </div>
</footer>
<!-- end -->
<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../../bower_components/angular-route/angular-route.min.js"></script>
<script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../../bower_components/ngDialog/js/ngDialog.min.js"></script>
<script src="../../bower_components/angular-filter/dist/angular-filter.min.js"></script>
<!--ru locale-->
<script src="../../bower_components/angular-i18n/angular-locale_ru-ru.js"></script>
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../js/datepicker.js"></script>
<script src="../js/app.js"></script>
<script src="../js/vacation_service.js"></script>
<script src="../js/user_service.js"></script>
<script src="../js/vacation.js"></script>
<script src="../js/calendar.js"></script>
<script src="../js/calendar_filters.js"></script>
<script src="../js/calendar_service.js"></script>
<script src="../js/mail.js"></script>
<script src="../js/mail_service.js"></script>


</body>
</html>