<!DOCTYPE html>
<html ng-app="VacationApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vacation</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="../css/calendar.css" rel="stylesheet">
    <link href="../css/fashion.css" rel="stylesheet">
    <link rel="stylesheet" href="../../bower_components/ngDialog/css/ngDialog-theme-default.min.css"/>
    <link rel="stylesheet" href="../../bower_components/ngDialog/css/ngDialog.min.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class='fashion-bg'></div>

<div class="container" ng-controller="CalendarController">
    <div class="main">
        <div class="row range-control">
            <div class="col-md-4">
              <div class='logo'>
                <a class="navbar-brand" href="#">
                  <i class="fa fa-sun-o"></i> vacation control
                </a>
              </div>
            </div>

            <div class="col-md-4">

            </div>
            <div class="col-md-4 nav-list">

                <span class="nav-text">
                  <a href="#">СПИСОК</a>
                </span>

                <span class="nav-text">
                  <a href="#">НАСТРОЙКИ</a>
                </span>
                <span class="nav-text">
                  <a href="#">РАСПЕЧАТАТЬ</a>
                </span>

            </div>
        </div>

        <div class="row sort-calendar">
          <div class="col-md-4" style="text-align: left;">
          </div>

          <div class="col-md-4 date-pick">


            <div class="col-md-6">
              <i ng-click="changeVisibleRange('year', 'minus')" class="fa fa-long-arrow-left"></i>
              {{baseConfig.year}}
              <i ng-click="changeVisibleRange('year', 'plus')" class="fa fa-long-arrow-right"></i>
            </div>

            <div class="col-md-6 month-pick">

                <i ng-click="changeVisibleRange('month', 'minus')" class="fa fa-long-arrow-left"></i>



                {{baseConfig.month|monthName}}



                <i ng-click="changeVisibleRange('month', 'plus')" class="fa fa-long-arrow-right"></i>

            </div>



          </div>

          <div class="col-md-4" style="text-align: right;">
          </div>

        </div>

        <table class="table table-condensed table-calendar">
            <thead>
            <tr class="control-row active">
                <td class="table-header">
                    <p> Сотрудник </p>
                </td>

                <td class="table-header">
                    <p>Должность</p>
                </td>

                <td class="table-header">

                </td>

                <td class="table-header" ng-repeat="day in baseConfig.daysRange()">


                    <span class="week-day">
                        {{baseConfig.getDay(day)|dayName}}
                    </span>
                    {{day}}

                </td>
            </tr>


            </thead>
            <tbody>
            <tr ng-repeat="vac in vacations | filter: {month: baseConfig.month, year: baseConfig.year}">
                <td class="table-header" ng-click="getInfo()"><small><a href="#">{{vac.user}}</a></small></td>
                <td class="table-header">{{vac.rank}}</td>
                <td class="table-header text-center">   <span class="vac-parameter" ng-click="openVacationParameters(vac)"> <i class="fa fa-wrench"></i></span>   </td>

                <td ng-click="checkClass(openVacationParameters, vac)" ng-repeat="day in baseConfig.daysRange()" ng-class="rangeState(day, vac.month, vac.days, vac.acceptionState)" class="table-header"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


<footer class="footer navbar-fixed-bottom row-fluid">
  <div class="container">
    <p>Текст снизу</p>
  </div>
</footer>
<!-- end -->
<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../../bower_components/ngDialog/js/ngDialog.min.js"></script>
<script src="../bower_components/ng-dropdown/dist/js/ng-dropdown.min.js"></script>
<script src="../js/app.js"></script>
<script src="../js/calendar_filters.js"></script>
<script src="../js/calendar_service.js"></script>

</body>
</html>
