<h4>{{vac.user}}</h4>
<table class="table table-condensed">
    <tr>
        <td><strong>Должность:</strong></td> <td>{{vac.rank|rank}}</td>
    </tr>

    <tr>
        <td><strong>Период:</strong><td>
        <div ng-if=" vac.month[1]!=null">

            {{defineRangeFromData(vac.days, vac.month, vac.year)}}

        </div>

        <div ng-if=" vac.month[1]==null">

            {{::prettyDate(vac.days[0][0], vac.year, vac.month[0])|date:'dd.MM.yyyy'}}
            -
            {{::prettyDate(vac.days[0][vac.days[0].length-1], vac.year, vac.month[0])|date:'dd.MM.yyyy'}}

        </div>
    </tr>
    <tr>
        <td>
            <strong>Причина:</strong>
        </td>
        <td>
            {{vac.comment}}
        </td>
    </tr>

    <tr>
        <td><strong>Текущий статус:</strong> </td>
        <td>{{showState(vac.acceptionState)}}</td>
    </tr>
</table>


<p class="text-center">
    <button ng-if="vac.acceptionState != 10 && vac.acceptionState != 11 && vac.acceptionState != 1 && vac.acceptionState != 2" confirm="{{vac._id}}" manager="1" ng-click="changeState(vac._id, 10, closeThisDialog());" type="button" class="btn btn-success btn-lg active"> Одобрить</button>
    <button ng-if="vac.acceptionState != 10 && vac.acceptionState != 11 && vac.acceptionState != 1 && vac.acceptionState != 2" refuse="{{vac._id}}" manager="1" ng-click="changeState(vac._id, 11, closeThisDialog());" type="button" class="btn btn-danger btn-lg active"> Отклонить</button>
    <button ng-click="closeThisDialog()" type="button" class="btn btn-default btn-lg active"><i class="fa fa-home"></i> Назад</button>
</p>