<div class="container" ng-controller="EditProfileController">
    <h4>Данные пользователя:</h4>
    <form name="myForm" ng-submit="updateUser()">
        <div class="form-group">
            <label for="surname">Фамилия</label>
            <input ng-model="newsurname" placeholder="Фамилия..." type="text" class="datepicker-input form-control" id="surname" required>
        </div>
        <div class="form-group">
            <label for="name">Имя</label>
            <input ng-model="newname" placeholder="Имя..." type="text" class="datepicker-input form-control" id="name" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="input" ng-model="newEmail" class="datepicker-input form-control" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg">Сохранить</button>
        </div>
    </form>
</div>
