<div class="container settings" ng-controller="MailController">
    <div class="new-mail">
        <h5>Оповещения:</h5>
        <hr/>
        <strong>Новый адрес: </strong>
        <input class="form-control settings-input" type="email" placeholder="Email..."/>
        <input class="form-control settings-input" type="text" placeholder="Имя..."/>
        <button class="btn btn-lg btn-success">Добавить</button>

        <hr>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Начальник 1</td>
                <td>nachalnik1@boss.com</td>
                <td><i class="fa fa-times"></i></td>
            </tr>
            <tr>
                <td>Начальник 5</td>
                <td>nachalnik5@boss.com</td>
                <td><i class="fa fa-times"></i></td>
            </tr>
            <tr>
                <td>Начальник 4</td>
                <td>nachalnik4@boss.com</td>
                <td><i class="fa fa-times"></i></td>
            </tr>
            <tr>
                <td>Начальник 3</td>
                <td>nachalnik3@boss.com</td>
                <td><i class="fa fa-times"></i></td>
            </tr>
            <tr>
                <td>Начальник 2</td>
                <td>nachalnik2@boss.com</td>
                <td><i class="fa fa-times"></i> </td>
            </tr>
        </table>
    </div>

</div>