<div class="container settings">
    <div class="new-mail" ng-controller="MailController">
        <h5>Оповещения:</h5>
        <hr/>
        <strong>Новый адрес: </strong>
        <form name="myForm" ng-submit="addNewMail()">
            <input ng-model="subscriber.email" class="form-control settings-input" type="email" placeholder="Email..." required/>
            <input ng-model="subscriber.name" class="form-control settings-input" type="text" placeholder="Имя..." required/>
            <button type="submit" class="btn btn-lg btn-success">Добавить</button>
        </form>
        <hr>
        <strong>Текущий список: </strong>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Email</th>
                <th>Имя</th>
                <th style="text-align: center;"><i class="fa fa-check-square"></i></th>
                <th>А</th>
                <th>П</th>
                <th>М</th>
                <th><i class="fa fa-times"></i></th>
            </tr>
            <tr ng-repeat="mail in mailList|orderBy: mail.name">
                <td ng-class="{disable_tr: !mail.state}">{{mail.subscriberEmail}}</td>
                <td ng-class="{disable_tr: !mail.state}">{{mail.subscriberName}}</td>
                <td ng-class="{disable_tr: !mail.state}" style="width: 15px;"><input ng-model="mail.state" ng-click="changeState(mail._id)" style="margin-left: 7px;" type="checkbox"/></td>

                <td ng-class="{disable_tr: !mail.state}" style="width: 15px;"><input ng-model="mail.actions.admin" ng-click="changeAction(mail._id, 'admin')" style="margin-left: 7px;" type="checkbox"/></td>
                <td ng-class="{disable_tr: !mail.state}" style="width: 15px;"><input ng-model="mail.actions.user" ng-click="changeAction(mail._id, 'user')" style="margin-left: 7px;" type="checkbox"/></td>
                <td ng-class="{disable_tr: !mail.state}" style="width: 15px;"><input ng-model="mail.actions.manager" ng-click="changeAction(mail._id, 'manager')" style="margin-left: 7px;" type="checkbox"/></td>

                <td ng-class="{disable_tr: !mail.state}" style="width: 15px;"><span ng-click="deleteMail(mail._id)"><i class="fa fa-times"></i></span></td>
            </tr>
        </table>
        <p><small>* Чекбокс определяет необходимость учёта адреса при рассылке</small></p>
        <p><small> <strong>А</strong> - оповещение о действиях администратора</small></p>
        <p><small> <strong>П</strong> - оповещение о действиях пользователя</small></p>
        <p><small> <strong>М</strong> - оповещение о действиях менеджера</small></p>

    </div>

    <hr/>

    <div class="new-mail" ng-controller="AdminPanelController">
        <h5>Пользователи</h5>
        <p><small>Удаление пользователя предусматривает удаление всех его заявок. Будьте осторожны.</small></p>
        <table class="table table-bordered table-striped">
            <tr>
                <th><a href="" ng-click="predicate = 'common.profile.username'; reverse=false">Фамилия</a>(<a href="" ng-click="predicate = '-common.profile.username'; reverse=false">^</a>)</th>
                <th>Email</th>
                <th><i class="fa fa-times"></i></th>
            </tr>

            <tr ng-repeat="user in userList | orderBy:predicate:reverse">
                <td>{{user.common.profile.username ? (user.common.profile.username.split(' ')[1] +' '+ user.common.profile.username.split(' ')[0]) : 'Имя не указано'}}</td>
                <td>{{user.common.profile.email}}</td>
                <td><span ng-click="deleteUser(user._id)"><i class="fa fa-times"></i></span></td>
            </tr>
        </table>
    </div>

</div>

