<h4>{{userHistoryName}} <small>История отпусков:</small></h4>

<table class="table table-bordered table-striped">
    <tr>
        <th>Период</th>
        <th>Статус</th>
    </tr>
    <tr ng-repeat="vac in userHistory">
        <td>
            {{::prettyDate(vac.days[0][0], vac.year, vac.month[0])|date:'dd.MM.yyyy'}}
            -
            {{::prettyDate(vac.days[0][vac.days[0].length-1], vac.year, vac.month[0])|date:'dd.MM.yyyy'}}
        </td>
        <td>
            {{showState(vac.acceptionState)}}
        </td>
    </tr>
</table>
<div class="text-center">
    <button ng-click="closeThisDialog()" type="button" class="btn btn-default btn-lg active"><i class="fa fa-home"></i> Назад</button>
</div>
