<h4>{{vac.user}}</h4>
<table class="table table-condensed">
    <tr>
        <td><strong>Должность:</strong></td> <td>{{vac.rank}}</td>
    </tr>

    <tr>
        <td><strong>Период:</strong><td>

        {{defineRangeFromData(vac.days, vac.month, vac.year)}}

    </tr>
    <tr>
         <td>
            <strong>Причина:</strong>
        </td>
        <td>
            {{vac.comment}}
        </td>
    </tr>

    <tr>
        <td><strong>Текущий статус:</strong> </td>
        <td>{{showState(vac.acceptionState)}}</td>
    </tr>
</table>

<p class="text-center">
    <button ng-click="changeState(vac._id, 1);closeThisDialog()" type="button" class="btn btn-success btn-lg active"><i class="fa fa-ship"></i> Принять</button>
    <button ng-click="changeState(vac._id, 2);closeThisDialog()" type="button" class="btn btn-danger btn-lg active"><i class="fa fa-frown-o"></i> Отказать</button>
    <button ng-click="closeThisDialog()" type="button" class="btn btn-default btn-lg active"><i class="fa fa-home"></i> Назад</button>
</p>
