//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            #272B30; // #222
$gray-dark:              #3A3F44;   // #333
$gray:                   #52575C; // #555
$gray-light:             #7A8288;   // #999
$gray-lighter:           #999; // #eee

$brand-primary:          $gray-light;
$brand-success:          #62c462;
$brand-info:             #5bc0de;
$brand-warning:          #f89406;
$brand-danger:           #ee5f5b;


//** Background color for `<body>`.
$body-bg:                $gray-darker;
//** Global text color on `<body>`.
$text-color:            #C8C8C8;

//** Global textual link color.
$link-color:            #fff;
//** Link hover color set via `darken()` function.
$link-hover-color:      #fff;

//** Text muted color
$text-muted:                   $gray-light;
//** Abbreviations and acronyms border color
$abbr-border-color:            $gray-light;
//** Headings small color
$headings-small-color:         $gray-light;
//** Blockquote small color
$blockquote-small-color:       $gray-light;

//** Blockquote border color
$blockquote-border-color:      $gray-light;
//** Page header border color
$page-header-border-color:    darken( $gray-darker, 5%);

//** Horizontal line color.
$hr-border:                   darken( $gray-darker, 5%);
