//== Grid system
//
//## Define your custom responsive grid.
@import "screens";
//** Number of columns in the grid.
$grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:      $screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ( $grid-float-breakpoint - 1);
