//== List group
//
//##
@import "colors";
@import "components";
//** Background color on `.list-group-item`
$list-group-bg:                 lighten($body-bg, 5%);
//** `.list-group-item` border color
$list-group-border:             rgba(0, 0, 0, 0.6);
//** List group border radius
$list-group-border-radius:      $border-radius-base;

//** Background color of single list items on hover
$list-group-hover-bg:           lighten( $body-bg, 10%);
//** Text color of active list items
$list-group-active-color:       $component-active-color;
//** Background color of active list items
$list-group-active-bg:          lighten( $body-bg, 10%);
//** Border color of active list elements
$list-group-active-border:      $list-group-border;
//** Text color for content within active list items
$list-group-active-text-color:  lighten( $list-group-active-bg, 40%);

//** Text color of disabled list items
$list-group-disabled-color:     $gray-light;
//** Background color of disabled list items
$list-group-disabled-bg:        $gray-lighter;
//** Text color for content within disabled list items
$list-group-disabled-text-color:$list-group-disabled-color;

$list-group-link-color:         $text-color;
$list-group-link-hover-color:   $list-group-link-color;
$list-group-link-heading-color: #fff;
