//== Progress bars
//
//##

@import "colors";
@import "components";

//** Background color of the whole progress component
$progress-bg:                 darken( $body-bg, 5%);
//** Progress bar text color
$progress-bar-color:          #fff;
//** Variable for setting rounded corners on progress bar.
$progress-border-radius:       $border-radius-base;

//** Default progress bar color
$progress-bar-bg:              $brand-primary;
//** Success progress bar color
$progress-bar-success-bg:      $brand-success;
//** Warning progress bar color
$progress-bar-warning-bg:      $brand-warning;
//** Danger progress bar color
$progress-bar-danger-bg:       $brand-danger;
//** Info progress bar color
$progress-bar-info-bg:         $brand-info;
