//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@import "colors";

$state-success-text:             #fff;
$state-success-bg:               $brand-success;
$state-success-border:           darken(adjust-hue( $state-success-bg, -10), 5%);

$state-info-text:                #fff;
$state-info-bg:                  $brand-info;
$state-info-border:              darken(adjust-hue( $state-info-bg, -10), 7%);

$state-warning-text:             #fff;
$state-warning-bg:               $brand-warning;
$state-warning-border:           darken(adjust-hue( $state-warning-bg, -10), 3%);

$state-danger-text:              #fff;
$state-danger-bg:                $brand-danger;
$state-danger-border:            darken(adjust-hue( $state-danger-bg, -10), 3%);
