//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

@import "colors";
//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
$table-bg:                      transparent;

//** Background color used for `.table-striped`.
$table-bg-accent:               lighten($table-bg, 3%);
//** Background color used for `.table-hover`.
$table-bg-hover:                lighten($table-bg, 12%);
$table-bg-active:                $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color:            darken( $gray-darker, 5%);
