//== Type
//
//##


@import "typography";

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25);
//** Width of horizontal description list titles
$dl-horizontal-offset:         $component-offset-horizontal;

