<div class="container" ng-controller="UserHeaderCtrl">
    <div class="main">
        <div class="row range-control">
            <div class="col-md-6">
                <div class='logo'>
                    <a class="navbar-brand" href="#/user/">
                        <i class="fa fa-sun-o"></i> vacation control
                    </a>
                </div>
            </div>

            <div class="col-md-4">
            </div>
            <div class="col-md-4 nav-list">

                <span class="nav-text">
                  <a href="#/user/history/" class="uservacation">ВАШИ ЗАЯВКИ</a>
                </span>

                 <span class="nav-text" data-test="{{ user}}">{{user.email || user.username}}</span>
               <!-- <img ng-show="photo" src="{{ photo }}" height="50" width="50">-->
                <div class="nav-text exit-button">
                    <a href="" ng-click="logout()" class="exit">Выйти</a>
                </div>
            </div>
        </div>
    </div>
</div>
