<div ng-include src="'views/user/header.html'"></div>
<div class="jumbotron">
    <div class="container user_control">
        <div class="row">

            <div class="col-md-6">

                <a href="#/user/newVacation/">
                    <button class="btn btn-lg btn-warning btn-vac">
                        <img src="images/beach.png" class="btn-img" alt=""/>
                        Новая заявка
                    </button>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#/profile/edit/">
                    <button class="btn btn-lg btn-success btn-vac">
                        <img src="images/settings.png" class="btn-img" alt=""/>
                        Редактировать профиль
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="container history">
        <h4>История отпусков:</h4>

        <table class="table table-bordered">
            <tr>
                <th>Период</th>
                <th>Статус</th>
                <th>Комментарий</th>
            </tr>
            <tr ng-repeat="vac in userHistory" >
                <td class="history">
                    {{ vac.date_start }}
                    -
                    {{ vac.date_end }}
                </td>
                <td>
                    {{showState(vac.state)}}
                </td>
                <td style="width: 60%;word-break: break-all;">
                    {{vac.comment_admin || 'Пока не прокомментировали'}}
                </td>
            </tr>
        </table>

    </div>
</div>
</div>
</div>
</div>
