<div ng-include src="'views/user/header.html'"></div>
<div class="jumbotron">
    <div class="container user_control">
        <div class="row">

            <div class="col-md-6">

                <a href="#/user/newVacation/">
                    <button class="btn btn-lg btn-warning btn-vac">
                        <img src="images/beach.png" class="btn-img" alt=""/>
                        Новая заявка
                    </button>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#/profile/edit/">
                    <button class="btn btn-lg btn-success btn-vac">
                        <img src="images/settings.png" class="btn-img" alt=""/>
                        Редактировать профиль
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="container" ng-class="animation">
        <div class="welcom">
            <h3>Привет!</h3>

            <p>
                Если вы авторизовались с помощью ВКонтакте, укажите свой email в
                <a href="#/profile/edit/">форме редактирования личных данных</a>, чтобы мы смогли оповестить вас об
                ответе на заявку.
            </p>

            <p>
                Вы можете <a href="#/user/newVacation/">добавить новую заявку</a> или <a href="#/user/history">посмотреть историю
                старых</a>.
            </p>
        </div>
    </div>
</div>

</div>