<div ng-include src="'views/user/header.html'"></div>
<div class="jumbotron">
    <div class="container user_control">
        <div class="row">

            <div class="col-md-6">

                <a href="#/user/newVacation/">
                    <button class="btn btn-lg btn-warning btn-vac">
                        <img src="images/beach.png" class="btn-img" alt=""/>
                        Новая заявка
                    </button>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#/profile/edit/">
                    <button class="btn btn-lg btn-success btn-vac">
                        <img src="images/settings.png" class="btn-img" alt=""/>
                        Редактировать профиль
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="container-vac container" style="background-color: #fff; border: 4px solid #B2DFDB; padding: 10px;">
        <div ng-show="errors.length > 0" class="error_messages text-center">
            <h5 style="color: tomato;" ng-repeat="error in errors">{{error}}</h5>
        </div>
        <form name="vacationForm" ng-submit="showResult()">
            <div class="text-center">
                <h4>Новая заявка</h4>
            </div>

            <div class="new-vacation-div">
                <input class="datepicker-input form-control startInput" placeholder="Начало" type="text" date-time
                       ng-model="range.start" required="true" min-view="date" view="date">
            </div>

            <div class="new-vacation-div">
                <input class="datepicker-input form-control endInput" placeholder="Конец" type="text" date-time
                       ng-model="range.end" required="true" min-view="date" view="date">
            </div>

            <div class="new-vacation-div">
                <textarea placeholder="Комментарий" class="form-control datepicker-input"
                          ng-model="vacation.comment_user"></textarea>
            </div>
            <div class="text-center">
                <button ng-disabled="submitBtn" id="addVac" type="submit" class="btn btn-success btn-lg">Отправить
                </button>
            </div>
        </form>
    </div>
</div>