<h4>{{userHistoryName}} <small>История отпусков:</small></h4>

<table class="table table-bordered table-striped">
    <tr>
        <th>Период</th>
        <th>Статус</th>
    </tr>
    <tr ng-repeat="vac in userHistory">
        <td>
            {{ vac.date_start }}
            -
            {{ vac.date_end }}
        </td>
        <td >
            {{showState(vac.state)}}
        </td>
    </tr>
</table>
<div class="text-center">
    <button ng-click="closeThisDialog()" type="button" class="btn btn-default btn-lg active"><i class="fa fa-home"></i> Назад</button>
</div>