<div ng-include="'views/navbar.html'"></div>
<div class="container-fluid bl-content">
  <div class="row">
    <div class="col-lg-3 col-md-5 col-sm-4">
      <div class="row">
        <div class="col-xs-12 small-left-padding small-right-padding">
          <div ng-include="'views/object_list_new.html'"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-8">
      <div class="row" id="charts">
        <div class="col-lg-6">
          <div ng-include="'views/barometer.html'"></div>
          <div ng-include="'views/breakdown.html'"></div>
<!--           <div ng-if="displayBreakdownIndex">
            <div ng-include="'views/breakdown_index.html'"></div>
          </div> -->
           <div ng-if="displayBarchart">
            <div ng-include="'views/barchart.html'"></div>
          </div>
        </div>
        <div class="col-lg-6 small-right-padding small-left-padding">
          <div ng-if="displayTimeline">
            <div ng-include="'views/timeline.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
